{block content}
<div class="flash error">Neočekávaná chyba. Použijte prosím jiný odkaz, například <a href="http://palapeli.cz">úvodní stránku</a>. Pokud tuto chybu vidíte opakovaně, napište prosím organizátorům na mail organizatori@palapeli.cz.</div>
{/block}