<div class="submenuContainer" id="administrationSubmenuContainer" style="display:none;" onmouseover="displaySubmenu('administration', '{App\Presenters\BasePresenter::TEAM_COLOR|noescape}');" onmouseout="hideSubmenus();">
	<div class="menuItemsContainer teamPadding" style="width:100%;">
		<a href="{plink Administration:}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Administration:')} selected{/if}">Aktuality</p>
			</div>
		</a>
		<a href="{plink Administration:teamCard}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Administration:teamCard')} selected{/if}">Karty týmů</p>
			</div>
		</a>
		<a href="{plink Administration:checkpointCard}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Administration:checkpointCard')} selected{/if}">Stanoviště</p>
			</div>
		</a>
		<a href="{plink Administration:ciphers}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Administration:ciphers')} selected{/if}">Šifry</p>
			</div>
		</a>
		<a href="{plink Administration:payments}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Administration:payments')} selected{/if}">Platby týmů</p>
			</div>
		</a>
		<a href="{plink Administration:teamMessage}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Administration:teamMessage')} selected{/if}">Zpráva</p>
			</div>
		</a>
		<a href="{plink Administration:discussion}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Administration:discussion')} selected{/if}">Diskuse (vše)</p>
			</div>
		</a>
		<a href="{plink Administration:chat}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Administration:chat')} selected{/if}">Org chat</p>
			</div>
		</a>
		<a href="{plink Administration:paymentMail}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Administration:paymentMail')} selected{/if}">Neplatiči</p>
			</div>
		</a>
		<a href="{plink Administration:teamMail}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Administration:teamMail')} selected{/if}">Maily týmů</p>
			</div>
		</a>
		<a href="{plink Administration:teamTable}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Administration:teamTable')} selected{/if}">Tabulka týmů</p>
			</div>
		</a>
		<a href="{plink Administration:results}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Administration:teamTable')} selected{/if}">Výsledky</p>
			</div>
		</a>
		<a href="{plink Administration:reports}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Administration:reports')} selected{/if}">Reportáže</p>
			</div>
		</a>
	</div>
</div>