<div class="submenuContainer" id="discussionSubmenuContainer" style="display:none;">
	<div class="menuItemsContainer teamPadding" style="width:100%;">
		<a href="{plink Discussion:}">
			<div class="menuItemContainer">
				<p class="menuText{if $presenter->isLinkCurrent('Discussion:')} selected{/if}">Diskuse</p>
			</div>
		</a>
	</div>
</div>