{block content}
	{include ../Extras/testerNotification.latte}
<div class="rules">

    <div class="flash info">
        Abychom se mohli našemu svědomí i vládním nařízením podívat do očí, letošní Palapeli proběhne následujícím způsobem: Nebude hromadný start, nebude oheň, nebude organizovaný cíl. Místo toho bude hra probíhat od soboty 22. ledna 8:00 do neděle 23. ledna 20:00. Začít můžete kdykoli, čas vaší hry se bude počítat od zadání prvního hesla do zadání hesla cílového stanoviště. Výsledné pořadí bude zveřejněno pravděpodobně v neděli večer, pravidla pro vyhodnocení zůstávají stejná, kromě výše zmíněného rozdílu s časem. Zároveň s tím jsme se rozhodli zrušit startovné. Hra bude počtem šifer, délkou trasy a celkovou náročností podobná předchozím ročníkům.
    </div>

	<div class="ruleContainer">
		<h3 id="summary">SHRNUTÍ</h3>
		<table style="margin-bottom: 40px">
			<tr>
				<td>
					Kdy:
				</td>
				<td>
					 od {$yearData->date|date: 'j. n. Y'|noescape} {$yearData->game_start|date: 'H:i'|noescape} do {$yearData->game_end|date: 'j. n. Y'|noescape} {$yearData->game_end|date: 'H:i'|noescape}
				</td>
			</tr>
			<tr>
				<td>
					Kde:
				</td>
				<td>
					Brno a okolí
				</td>
			</tr>
			<tr>
				<td>
					Pro koho:
				</td>
				<td>
					čtyřčlenné týmy
				</td>
			</tr>
			<tr>
				<td>
					Systém:
				</td>
				<td>
					Denní, lineární, možnost totálek
				</td>
			</tr>
			<tr>
				<td>
					Startovné:
				</td>
				<td>
					{$yearData->entry_fee} Kč
				</td>
			</tr>
		</table>
	</div>

	<div class="ruleContainer">
		<h3 id="about">O CO JDE</h3>
		<p>
			Palapeli je denní zimní lineární <a href="http://sifrovacky.cz" target="_blank">šifrovačka</a>. Hra proběhne {$yearData->date|date: 'j. n. Y'|noescape} v Brně a okolí, trasa bývá spíše terénní. Palapeli mívá lehčí šifry s možností stanoviště přeskakovat pomocí totálek, hře však přidává na obtížnosti počasí, které v lednu bývá mrazivé. Letos proběhne již {$yearData->year}. ročník. Hru pro vás za pomoci mnoha dalších lidí připravují stálí i občasní členové týmu <a href="http://kvik.wz.cz" target="_blank">KVÍK!</a>.
		</p>
	</div>

	<div class="ruleContainer">
	<h3 id="conditions">PODMÍNKY ÚČASTI</h3>
	<p>
		Hra je určena pro maximálně čtyřčlenné týmy. Hráči mladší 18 let musí mít v týmu alespoň jednoho dospělého.<br>
		Týmy se mohou <a href="{plink Team:registration}">registrovat</a> na těchto stránkách od {$yearData->registration_start|date: 'j. n. Y'|noescape} nejpozději do {$yearData->registration_end|date: 'j. n. Y'|noescape}. {if $yearData->team_limit > 0}
			Limit počtu hrajících týmů je {$yearData->team_limit}.
		 Týmy registrované nad limit jsou považovány za náhradníky a dostanou se do hry, pouze pokud některé hrající týmy zruší účast. Většinou se na náhradníky dostane, takže se neváhejte registrovat, i když jste pod čarou.<br>{/if}
		Startovné činí {$yearData->entry_fee|noescape} Kč na tým a je třeba je zaplatit na účet sdělený registrovaným týmům nejpozději do {$yearData->entry_fee_deadline|date: 'j. n. Y'|noescape}, jinak bude neplatící tým nahrazen týmem pod čarou. Podrobnosti o platbě se týmy dozví po registraci. Organizátoři nenesou za bezpečnost ani jednání hráčů zodpovědnost.
	</p>
	</div>

	<div class="ruleContainer">
		<h3 id="scheme">SYSTÉM HRY</h3>
		<p>
			Hru Palapeli tvoří přibližně 10 stanovišť se šiframi. Vyluštěním šifry na stanovišti se tým dozví polohu dalšího stanoviště.<br>
			Na stanovišti týmy najdou buď orga, který jim vydá šifru, nebo mrtvou schránku se šifrou. Týmům je povoleno vzít si jednu porci zadání. Šifra je v záhlaví zřetelně označena logem Palapeli. Záhlaví šifry a text psaný kurzívou neobsahuje šifru, není-li výslovně řečeno jinak.
			Pokud se vám nepodaří šifru vyluštit, lze v <a href="#hints">Palainfu</a> požádat o totálku. Tím dané stanoviště přeskočíte a dozvíte se polohu dalšího stanoviště. Takto přeskočená šifra se vám odečte v prvním kritériu při vyhodnocení výsledků.<br>
			Některá stanoviště mají stanovenu zavírací dobu. Tu se tým dozví v <a href="#hints">Palainfu</a>. Znamená to, že aby tým měl jistotu, že šifru bude moci vyzvednout, musí na toto stanoviště přijít nejpozději v zavírací dobu. Je možné, že tým bude moci šifru vyzvednout i po zavírací době, avšak nemá to jisté. Jakmile se stanoviště skutečně uzavře, zobrazí se o tom informace v <a href="#hints">Palainfu</a>. Pokud tým dorazí na stanoviště po uzavření a nenajde šifru, pro pokračování ve hře musí využít totálku.
		</p>
	</div>

	<div class="ruleContainer">
		<h3 id="transport">PŘESUNY</h3>
		<p>
			Pro účast na hře je nutné, aby alespoň jeden člen týmu měl přístup na internet kvůli zadávání průchodu hrou a čerpání nápověd. Internet se může hodit i pro googlení informací.
			Mezi stanovišti je povoleno se přesouvat pouze pěšky, na běžkách, na bobech, na saních nebo na bruslích. Je povoleno používání jakýchkoli prostředků pro orientaci v terénu. Používání MHD není zakázáno, ale trasa většinou přesuny pomocí MHD neumožňuje.<br> Chcete-li na hru vzít psa, můžete, ale minimálně na stanovištích musí mít košík a být na vodítku. Do cíle psi nesmí.

		</p>
	</div>

	<div class="ruleContainer">
		<h3 id="hints">PALAINFO</h3>
		<p>
			Palainfo je webový systém, kam týmy zapisují příchody na stanoviště a odchody ze stanovišť, žádají o totálky či vzdávají hru, čerpají informace o stavu startovního pole před nimi a dostávají další informace ze hry.<br>
			Proto pro průchod hrou je nezbytné, aby alespoň jeden člen týmu měl po celou dobu hry k dispozici zařízení s připojením na internet (na rychlosti by nemělo záležet).<br>
			Palainfo je pro přihlášené týmy přístupné skrz sekci Tým.
		</p>
	</div>

	<div class="ruleContainer">
		<h3 id="finish">CÍL</h3>
		<p>
			Cíl je v teple a v dosahu zóny 101 IDS JMK. {if $hasFinishCipher}Pro úspěšné dosažení cíle musí alespoň jeden člen týmu organizátorům odevzdat závěrečné heslo.{else}Pro úspěšné dokončení hry musí do cíle dojít alespoň jeden člen týmu. Stačí dojít do cíle, <strong>není nutno řešit žádný cílový úkol</strong>.{/if} Pořadí týmů bude vytvořeno podle následujících kritérií:
			<ol>
			<li>Nejvyšší navštívené stanoviště{if $hasFinishCipher} (příchod do cíle a vyluštění cílového hesla se berou jako
			dvě samostatná stanoviště){/if} <strong>mínus počet totálek</strong> <em>(Pokud by tedy na hře bylo 10 stanovišť bez startu a cíle, může tato hodnota být až {if $hasFinishCipher}12{else}11{/if}).</em></li>
			<li>Nejvyšší navštívené stanoviště bez ohledu na počet totálek.</li>
			<li>Čas příchodu na nejvyšší navštívené stanoviště.</li>
			</ol>
		</p>
	</div>

	<div class="ruleContainer">
		<h3 id="afterparty">AFTERPARTY</h3>
		<p>
			Po hře se bude konat afterparty v některé brněnské hospodě. Její polohu se dozvíte v cíli od organizátorů a také v <a href="#hints">Palainfu</a> po ukončení hry. Rádi vás na ní uvidíme.
		</p>
	</div>

	<div class="ruleContainer">
		<h3 id="other">DALŠÍ POKYNY</h3>
			Pro hru Palapeli platí standardní pravidla chování na šifrovačkách, tedy
			<ul>
			<li>chovejte se podle principu fair-play,</li>
			<li>neluštěte šifru v bezprostřední blízkosti stanoviště,</li>
			<li>neopisujte a nesledujte ostatní týmy za účelem nalezení dalšího stanoviště</li>
			<li>zbytečně nehaluzte,</li>
			<li>nevyužívejte k luštění šifry nikoho, kdo není v týmu,</li>
			<li>v lese se chovejte tak, jak se v lese chovat má,</li>
			<li>dodržujte pravidla a právní předpisy.</li>

			</ul>
	</div>
</div>
{/block}
