services:
	- IDiscussionControlFactory
	- ICheckpointCardFactory
	- ITeamCardFactory
	- IUpdatesFormFactory
	- IYearFormFactory
	- ITeamMessageFactory
	- IActionScreenFactory
	- IInfoScreenFactory
	- ICheckpointScreenFactory
	- ICardScreenFactory
	- App\Models\TeamsModel
	- App\Models\CiphersModel
	- App\Models\DiscussionModel
	- App\Models\FilesModel
	- App\Models\ReportsModel
	- App\Models\UpdatesModel
	- App\Models\YearsModel
	- App\Models\ResultsModel
	- App\Models\LogModel
