services:
	# session helpers
	- App\Session\TeamSession
	- App\Session\YearSelection

	# database models
	- App\Models\CiphersModel
	- App\Models\DiscussionModel
	- App\Models\FilesModel
	- App\Models\LogModel
	- App\Models\ReportsModel
	- App\Models\ResultsModel
	- App\Models\TeamsModel
	- App\Models\UpdatesModel
	- App\Models\YearsModel

	# other services
	- App\Models\CipherFileStorage(%wwwDir%)
	- App\Models\PasswordHasher
	- App\Models\PaymentQrCodeGenerator

	# component factories (implemented by Nette DI)
	- App\Components\ActionScreen\ActionScreenFactory
	- App\Components\CardScreen\CardScreenFactory
	- implement: App\Components\CheckpointCard\CheckpointCardFactory
	  arguments: [editingEnabled: %cardEditing%]
	- App\Components\CheckpointScreen\CheckpointScreenFactory
	- App\Components\DiscussionControl\DiscussionControlFactory
	- App\Components\InfoScreen\InfoScreenFactory
	- implement: App\Components\TeamCard\TeamCardFactory
	  arguments: [editingEnabled: %cardEditing%]
	- App\Components\TeamMessage\TeamMessageFactory
	- App\Components\UpdatesForm\UpdatesFormFactory
	- App\Components\YearForm\YearFormFactory
