<div class="info-screen-container screen-container">

	<div class="checkpoint-heading">
		AKTUÁLNÍ INFO
	</div>

	<div class="messages-container">
		<div n:foreach="$messages as $message" n:class="flash, $message->type">{$message->message|noescape}</div>
	</div>

</div>