<div class="info-screen-container screen-container">

	<div class="checkpoint-heading">
		AKTUÁLNÍ INFO
	</div>

	<div class="messages-container">
		<div n:foreach="$customFlashes as $flash" n:class="flash, $flash->type">{$flash->message|noescape}</div>
	</div>

</div>