{block content}
		<script>
			function displaySolution(toggle) {
				var stats = document.getElementById('stats');

				if(stats.style.display == 'block') {
					stats.style.display = 'none';
				}

				var solution = document.getElementById('solution');

				if(solution.style.display == 'block') {
					solution.style.display = 'none';
				} else {
					solution.style.display = 'block';
				}
			}
			function displayStats(toggle) {
				var solution = document.getElementById('solution');

				if(solution.style.display == 'block') {
					solution.style.display = 'none';
				}

				var stats = document.getElementById('stats');

				if(stats.style.display == 'block') {
					stats.style.display = 'none';
				} else {
					stats.style.display = 'block';
				}
			}
		</script>

		{if $isSelectedYearCurrent && !$hasGameEnded}
			<div class="flash info">{$selectedYear}. ročník ještě neproběhl a šifry tedy ještě nejsou k dispozici.</div>
    	{else}
    		<div class="ciphersList">
    			{for $i = 0; $i < $checkpointCount; $i++}<a class="cipherLink" {if $i == $checkpoint}style="color:white;background-color:{App\Presenters\BasePresenter::GAME_COLOR|noescape};"{/if} href="{plink Game:ciphers, $i}">{if $i == 0}S{elseif $i == $checkpointCount - 1}C{else}{$i}{/if}</a>{if $i != $checkpointCount - 1}<span class="cipherLinkDivider"></span>{/if}{/for}
    		</div>

			{if $checkpoint >= 0 && $checkpoint < $checkpointCount}
				<h2 class="cipherHeading">
					{if $checkpoint == 0}START{elseif $checkpoint == $checkpointCount - 1}CÍL{else}<span class="cipherNumber">{$checkpoint}</span>. ŠIFRA{if isset($cipherData['name']) && strlen($cipherData['name']) > 0}&nbsp;&ndash;&nbsp;{$cipherData['name']|upper}{/if}{/if}
				</h2>
			{/if}
    		{if !$cipherData && $teamsFilled == 0}
    			<div class="flash info">
    				Tato šifra zatím nebyla doplněna.
    			</div>
			{else}
				<div class="cipherContainer">
					<div n:if="$cipherData['cipher_description']" class="cipherDescription">
						{$cipherData['cipher_description']|noescape}
					</div>
					{if isset($cipherData['cipher_image'])}
						<img class="cipherImage" src="{$basePath}/{$cipherData['cipher_image']}" />
					{/if}
					{var $submenuItemsCount = 0}
					{if $cipherData['solution_description'] || $cipherData['solution'] || isset($cipherData['solution_image'])}
						{var $submenuItemsCount = $submenuItemsCount + 1}
					{/if}
					{if $teamsFilled > 0}
						{var $submenuItemsCount = $submenuItemsCount + 1}
					{/if}
					{if isset($cipherData['pdf_file'])}
						{var $submenuItemsCount = $submenuItemsCount + 1}
					{/if}
					{if $submenuItemsCount >0}
						{var $calcOffset = (($submenuItemsCount - 1) * 20 + $submenuItemsCount * 40) / $submenuItemsCount}
						<div class="cipherSubmenu"><!--

								--><div style="width:calc({100/$submenuItemsCount|noescape}% - {$calcOffset|noescape}px); {if $submenuItemsCount > 1}margin-right:20px;{/if}" class="cipherSubmenuLink displaySolution cipherSubmenuCell solution" n:if="$cipherData['solution_description'] || $cipherData['solution'] || isset($cipherData['solution_image'])" onclick="displaySolution(this)">
										ŘEŠENÍ
								</div><!--
								--><div style="width:calc({100/$submenuItemsCount|noescape}% - {$calcOffset|noescape}px);{if isset($cipherData['pdf_file'])}margin-right:20px;{/if}" class="cipherSubmenuLink displayStats cipherSubmenuCell stats" n:if=" $teamsFilled > 0" onclick="displayStats(this)">
										STATISTIKY
								</div><!--
								--><div onclick="window.open('{$basePath|noescape}/{$cipherData['pdf_file']|noescape}')" style="width:calc({100/$submenuItemsCount|noescape}% - {$calcOffset|noescape}px)" n:if="isset($cipherData['pdf_file'])" class="cipherSubmenuCell download">
										PDF
								</div><!--
						--></div>
					{/if}
					<div class="cipherSolution" id="solution" style="display:none;">
						<h2 class="cipherHeading">
							ŘEŠENÍ ŠIFRY
						</h2>
						<div n:if="$cipherData['solution_description']" class="solutionDescription">
							{$cipherData['solution_description']|noescape}
						</div>
						<div class="solution" n:if="$cipherData['solution']" class="cipherDescription">
							Řešení: {$cipherData['solution']|noescape}
						</div>
						{if isset($cipherData['solution_image'])}
							<img class="cipherImage" src="{$basePath}/{$cipherData['solution_image']}" />
						{/if}
					</div>
					<div class="cipherStats" id="stats" style="display:none;">
						<h2 class="cipherHeading">
							STATISTIKY ŠIFRY
						</h2>
						<div>
							<span class="statName">Dorazilo týmů:</span>&nbsp;<span class="statData">{$teamsArrived} z&nbsp;{$teamsTotal} ({$teamsArrivedPercentage|number:0}&thinsp;%)</span><br>
							<span class="statName">Skončilo týmů:</span>&nbsp;<span class="statData">{$teamsEnded} z&nbsp;{$teamsArrived} ({$teamsEndedPercentage|number:0}&thinsp;%)</span><br>
							<span class="statName">Použito totálek:</span>&nbsp;<span class="statData">{$usedHints} z&nbsp;{$teamsContinued} ({$usedHintsPercentage|number:0}&thinsp;%)</span><br>
							<span class="statName">Nejrychlejší vyluštění:</span>&nbsp;<span class="statData">{$fastestSolution->name}&nbsp;({$fastestSolution->time}&nbsp;minut)</span><br>
							{if $missingData > 0}<p class="statsExplanation">Data nejsou úplná, chybí údaje od {$missingData} tým{if $missingData == 1}u{else}ů{/if}.</p>{/if}

						</div>
					</div>
				</div>
    		{/if}
    		<h2 class="cipherHeading">
    			DISKUSE K ŠIFŘE
    		</h2>
    		{control discussion, $checkpoint}
    	{/if}
{/block}