{block content}
{include ../Extras/yearArrows.latte}
		{if $isSelectedYearCurrent}
			<div class="flash info">{$selectedYear}. ročník ještě neproběhl a nikdo tedy zatím nenapsal žádnou reportáž.</div>
    	{else}
    		<div class="flash info">Pro zvolený ročník zatím nejsou reportáže doplněny. Přepnout do aktuálního ročníku se můžete <a href="{plink Archive: $currentYear, $currentCalendarYear, $presenter->getAction(true)}">ZDE</a>.</div>
    	{/if}
{/block}