{block content}

		<p class="information">
    		Zadejte název týmu, pro který chcete vygenerovat nové heslo. Na e-maily uvedené u tohoto týmu bude poté zasláno náhodně vygenerované nové heslo, které můžete použít k přihlášení na web.
    	</p>

	<div id="formValidationError" class="flash info"></div>

	{control forgottenPasswordForm}

{/block}