{block content}
	{if $orgLogged}
		{control chat}
	{else}
		<div class="flash info">
			Na tuto stránku mají přístup pouze organizátoři. Můžete se vrátit například <a href="{plink Team:}">na přihlašovací stránku</a>.
		</div>
	{/if}
{/block}