{layout '@layout.latte'}

{block administrationBlock}
	<div class="information">Vybraný ročník: {$selectedYear}. ({$selectedCalendarYear})</div>
	<div class="selectForm">
		{control selectOnlyCheckpointForm}
	</div>

	{if isset($checkpoint)}
			<h2 class="heading">{if $checkpoint == 0}START{elseif $checkpoint == $checkpointCount - 1}CÍL{else}STANOVIŠTĚ {$checkpoint}{/if}</h2>
		<div class="cipherForm">
			{control cipherForm}
		</div>
	{/if}
{/block}