{block content}
	{if $orgLogged}
	<div class="information">Vybraný ročník: {$selectedYear}. ({$selectedCalendarYear})</div>
	<div class="selectForm">
		{control selectCheckpointForm}
	</div>

	{if isset($checkpoint)}
		{control cipherForm}
	{/if}
	{else}
		<div class="flash info">
			Na tuto stránku mají přístup pouze organizátoři. Můžete se vrátit například <a href="{plink Homepage:}">na hlavní stránku</a>.
		</div>
	{/if}
{/block}