{layout '@layout.latte'}

{block administrationBlock}
	<div class="paymentMail">
		{foreach $emails as $email}
			{$email->email|noescape}{if !$iterator->isLast()}, {/if}
		{/foreach}
	</div>
{/block}