{block content}
	{if $orgLogged}
	<div class="information">Vybraný ročník: {$selectedYear}. ({$selectedCalendarYear})</div>
	<div class="selectForm">
		{control selectTeamForm}
	</div>

	{ifset $team}
		{form teamCardForm}
			<table class="card">
				<tr class="headings">
					<th title="Čas příchodu na stanoviště">
						PŘÍCHOD
					</th>
					<th class="spacing" title="Čas odchodu ze stanoviště">
						ODCHOD
					</th>
					<th class="right" title="Zda tým bral totálku (pouze pokud došel na další stanoviště)">
						<span class="largeScreen">TOTÁLKA</span>
						<span class="responsive">TOT.</span>
					</th>
				</tr>
				{for $i = 0; $i < $checkpointCount; $i++}
					{var $container = 'checkpoint' . $i}
					{formContainer $container}
						<tr>
							<th colspan="4" class="header">
								{if $i == 0}Start{elseif $i == $checkpointCount - 1}Cíl{else}{$i}. stanoviště{/if}
							</th>
						</tr>
						<tr>
							<td class="left">
								{input entryTime}
							</td>
							<td class="left spacing">
								{input exitTime}
							</td>
							<td class="right">
								{if $i != 0 && $i != $checkpointCount - 1}
									{input usedHint}
								{/if}
							</td>
						</tr>
					{/formContainer}
				{/for}
				<tr>
					<td colspan="4">
						{input send}
					</td>
				</tr>
			</table>
		{/form}
	{/ifset}
	{else}
		<div class="flash info">
			Na tuto stránku mají přístup pouze organizátoři. Můžete se vrátit například <a href="{plink Team:}">na přihlašovací stránku</a>.
		</div>
	{/if}
{/block}