{layout '@layout.latte'}

{block administrationBlock}
	<table class="teamTable">
		<tr>
			<th>
				Id
			</th>
			<th>
				<a href="{plink Administration:teamTable, false}">Tým</a>
			</th>
			<th>
				Telefon 1
			</th>
			<th>
				Telefon 2
			</th>
			<th>
				E-mail 1
			</th>
			<th>
				E-mail 2
			</th>
			<th>
				Člen 1
			</th>
			<th>
				Člen 2
			</th>
			<th>
				Člen 3
			</th>
			<th>
				Člen 4
			</th>
			<th>
				Platba startovného
			</th>
			<th>
				<a href="{plink Administration:teamTable, true}">Čas registrace</a>
			</th>
		</tr>
		{foreach $data as $team}
			<tr>
				<td>
					{$team->id}
				</td>
				<td>
					{$team->name}
				</td>
				<td>
					{$team->phone1}
				</td>
				<td>
					{$team->phone2}
				</td>
				<td>
					{$team->email1}
				</td>
				<td>
					{$team->email2}
				</td>
				<td>
					{$team->member1}
				</td>
				<td>
					{$team->member2}
				</td>
				<td>
					{$team->member3}
				</td>
				<td>
					{$team->member4}
				</td>
				<td>
					{if $team->paid == 0}
						Ne
					{elseif $team->paid == 1}
						Ano
					{else}
						Na startu
					{/if}
				</td>
				<td>
					{$team->registered}
				</td>
			</tr>
		{/foreach}
	</table>
{/block}