{block content}
	{if $orgLogged}
		<div class="teamMail">
			{foreach $emails as $email}
				{$email->email|noescape}{if !$iterator->isLast()}, {/if}
			{/foreach}
		</div>
	{else}
		<div class="flash info">
			Na tuto stránku mají přístup pouze organizátoři. Můžete se vrátit například <a href="{plink Team:}">na přihlašovací stránku</a>.
		</div>
	{/if}
{/block}