<div n:if="$showTesterNotification" class="flash info">
	Sháníme testery! Pokud už víte, že byste se hry nemohli zúčastnit, ale rádi byste si zaluštili někde v teple v klidu, ozvěte se nám na mail organizatori@palapeli.cz. Budeme vám velmi vděční!
</div>