body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.flash {
  font-family: 'Source Sans Pro', sans-serif;
}
.checkpoint-heading {
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
}
.screen-container {
  font-family: 'Source Sans Pro', sans-serif;
}
.logo-container {
  padding: 10px;
  background-color: white;
}
.logo-container .name {
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  padding-top: 2px;
  font-weight: bold;
}
.menu-container {
  display: table;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
.menu-container .item {
  width: 25%;
  height: 60px;
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #929292;
  cursor: pointer;
  background-color: #EEE;
}
.menu-container .item.selected {
  color: #005BD0;
}
.action-screen-container {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding: 0px 35px;
}
.action-screen-container .code-input-form {
  margin-bottom: 27px;
}
.action-screen-container .code-input-form input[type="text"] {
  display: inline-block;
  width: calc(100% - 54px);
  width: -moz-calc(100% - 54px);
  width: -webkit-calc(100% - 54px);
  width: -o-calc(100% - 54px);
  height: 40px;
  margin: 0;
  vertical-align: top;
  font-size: 20px;
}
.action-screen-container .code-input-form input[type="submit"] {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 0;
  vertical-align: top;
  background-image: url('../images/send_arrow.svg');
  background-repeat: no-repeat;
}
.action-screen-container .exit-time-forms-container {
  margin-bottom: 40px;
  text-align: center;
}
.action-screen-container .exit-time-forms-container .exit-time-input-form {
  display: inline-block;
}
.action-screen-container .exit-time-forms-container .exit-time-input-form form {
  display: inline-block;
}
.action-screen-container .exit-time-forms-container .exit-time-input-form input[type="time"] {
  display: inline-block;
  height: 40px;
  width: 100px;
  margin: 0;
  vertical-align: top;
  text-align: right;
  font-size: 18pt;
}
.action-screen-container .exit-time-forms-container .exit-time-input-form input[type="submit"] {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 0;
  vertical-align: top;
  background-image: url('../images/send_arrow.svg');
  background-repeat: no-repeat;
}
.action-screen-container .exit-time-forms-container .exit-time-input-form input[type="submit"].now {
  margin-left: 30px;
  background-image: none;
}
.action-screen-container .button {
  background-color: #005BD0;
  margin-bottom: 16px;
  display: inline-block;
  padding: 10px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  width: calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: -o-calc(100% - 20px);
}
.action-screen-container .headline {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
}
.action-screen-container .consequences {
  margin-bottom: 20px;
}
.checkpoint-screen-container .checkpoint-container {
  margin: auto;
  text-align: center;
}
.checkpoint-screen-container .checkpoint-container .team-entry.current {
  background-color: #D7FF9F;
}
.checkpoint-screen-container .checkpoint-container .team-entry div {
  display: inline-block;
  font-size: 14pt;
}
.checkpoint-screen-container .checkpoint-container .team-entry div.team-name {
  width: calc(100% - 86px);
  width: -moz-calc(100% - 86px);
  width: -webkit-calc(100% - 86px);
  width: -o-calc(100% - 86px);
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 10px;
  text-align: left;
}
.checkpoint-screen-container .checkpoint-container .team-entry div.team-time {
  width: 43px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
}
.checkpoint-screen-container .checkpoint-container .team-entry div.team-order {
  width: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
}
.card-screen-container {
  padding: 0px 15px;
}
.card-screen-container input:disabled {
  background-color: #CCC;
  padding: 2px 5px;
  color: #666;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 73px;
}
.card-screen-container input[type="checkbox"]:disabled {
  width: 20px;
}
.wrapper:after {
  height: 0px !important;
}
.wrapper {
  min-height: 0 !important;
  margin-bottom: 0px !important;
}
.palainfo-container {
  padding-bottom: 80px;
  padding-top: 30px;
}
