.logo-container {
  padding: 10px;
}
.logo-container .name {
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  padding-top: 2px;
  font-weight: bold;
}
.menu-container {
  display: table;
  width: 100%;
  margin-bottom: 20px;
  background-color: #002e6a;
  padding: 5px;
}
.menu-container .item {
  width: 25%;
  height: 60px;
  font-weight: normal;
  font-size: 9pt;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: white;
  cursor: pointer;
  background-color: #002e6a;
}
.menu-container .item#item1.active {
  background-color: #005BD0;
}
.menu-container .item#item2.active {
  background-color: #69B300;
}
.menu-container .item#item3.active {
  background-color: #FFCA05;
}
.menu-container .item#item4.active {
  background-color: #FF0000;
}
.action-screen-container {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
.action-screen-container .checkpoint-heading {
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  font-size: 25px;
}
.action-screen-container .code-input-form {
  margin-bottom: 27px;
}
.action-screen-container .code-input-form input[type="text"] {
  display: inline-block;
  width: 60%;
  height: 40px;
  margin: 0;
  vertical-align: top;
  margin-left: calc(10% - 27px);
  margin-left: -moz-calc(10% - 27px);
  margin-left: -webkit-calc(10% - 27px);
  margin-left: -o-calc(10% - 27px);
  font-size: 20px;
}
.action-screen-container .code-input-form input[type="submit"] {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 0;
  vertical-align: top;
}
.action-screen-container .exit-time-forms-container {
  margin-bottom: 27px;
  text-align: center;
}
.action-screen-container .exit-time-forms-container .exit-time-input-form {
  display: inline-block;
}
.action-screen-container .exit-time-forms-container .exit-time-input-form form {
  display: inline-block;
}
.action-screen-container .exit-time-forms-container .exit-time-input-form input[type="time"] {
  display: inline-block;
  height: 40px;
  margin: 0;
  vertical-align: top;
}
.action-screen-container .exit-time-forms-container .exit-time-input-form input[type="submit"] {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 0;
  vertical-align: top;
}
.action-screen-container .exit-time-forms-container .exit-time-input-form input[type="submit"].now {
  margin-left: 30px;
}
.action-screen-container .button {
  background-color: #005BD0;
  margin-bottom: 27px;
  display: inline-block;
  padding: 10px;
  height: 24px;
  line-height: 24px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
